<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976737269415-qard7ju56ijf5oslsbq7nk5m17id5vti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976737269415-qard7ju56ijf5oslsbq7nk5m17id5vti</string>
	<key>API_KEY</key>
	<string>AIzaSyAEOQ4eoArE6S6Trl1OHyEccGTOnaG-TqE</string>
	<key>GCM_SENDER_ID</key>
	<string>976737269415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.seonghooony.EatingToday</string>
	<key>PROJECT_ID</key>
	<string>eatingtoday-1fa3b</string>
	<key>STORAGE_BUCKET</key>
	<string>eatingtoday-1fa3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976737269415:ios:a17bae5636652020a94d82</string>
</dict>
</plist>